# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environment
venv/
.env

# IDE
.vscode/
.idea/

# Logs
logs/
*.log

# Data
vectordb/
file_temp/
downloads/

# Streamlit cache
.streamlit/

# Jupyter / IPython
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db
